{% extends 'legolas/base.html' %}
{% load staticfiles %}


{% block head %}
    <meta name="description" content="korean yelp equivalant, elf" />
    <meta name="keywords" content="맛집" />
    <title>elf store page</title>
    <link rel="stylesheet" href="{% static 'css/store_page.css' %}" />
{% endblock %}




{% block main %}

    <div id="store_content" style="margin-top:30px">
        <div class="container">
            <div>
                <img style="float:left; margin: 0px 20px 20px 0px;" src="http://placehold.it/300x250" />
                <h3>{{ store.name }}</h3>
                    {{ store.photo }}
                <p>주소: {{ store.address }}</p>
                <p>GPA: {{ store.store_rating }}</p>
            </div>
            <div style="clear:both;">
                <h2>{{ store.name }}에 대한 리뷰</h2>
                {% for review in store.review_set.all %}
                <h4><a> {{ review.author }} </a></h4>
                <p><i> {{ review.created_at }}<i></p>
                <p>{{ review.content }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}